<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <form action="Logic.cshtml" method="post">
        <fieldset>
            <legend>NEW RULE</legend>
            <div>
                <label for="rule">Rule:</label>
                <input type="text" name="rule" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>
    
    <ol>
        @{
            if (Session["rules"] != null)
            {
                foreach(string rule in (List<string>)Session["rules"])
                {
                    <li>@rule</li>
                }
            }
        }
    </ol>
</body>
</html>
